.display-none {
    display: none;
}

.flex--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.space {
    &.r4{
        height: 4rem;
    }
    &.r5{
        height: 5rem;
    }
    &.r6{
        height: 6rem;
    }
}
