:root {
  --button-primary-hover: #18549a;
  --button-primary-active: #eeeeee;
  --button-primary-default: #1864AB;
  --button-radius: .5rem;
  --button-default-padding: 0.2rem 1rem;
  --button-default-font-size: 1.125rem;
  --button-default-border: none;
  --button-default-width: fit-content;

  --background-primary: #313134;
  --background-secondary: #141517;

  --text-primary: #eeeeee;
  --logo-red: #D10005;
  --logo-yellow: #AA9053;
  --logo-orange: #A34704;

  --text-inverted: #222831;
  --font-family: Arial, Helvetica, sans-serif;

  --gutter: 1rem;

  --listing-card-background: #141517;
//   --listing-card-background: #eee;
  --listing-card-background-visited: #222;
  --listing-card-radius: 1rem;
  --listing-card-infotag-bg: rgba(255, 255, 255, 0.5);
//   --listing-card-infotag-bg: #A34704
  --listing-card-status-bg: #ab9152;
//   --listing-card-price-bg: rgba(255, 255, 255, 0.9);
  --listing-card-price-bg: #AA9053;
  --listing-card-icon-color: #222831;

  --swiper-navigation-color: #fff
}

$button-primary-hover: var(--button-primary-hover);
$button-primary-default: var(--button-primary-default);
$button-primary-active: var(--button-primary-active);
$button-radius: var(--button-radius);
$button-default-padding: var(--button-default-padding);
$button-default-font-size: var(--button-default-font-size);
$button-default-border: var(--button-default-border);
$button-default-width: var(--button-default-width);

$background-primary: var(--background-primary);
$background-secondary: var(--background-secondary);

$text-primary: var(--text-primary);
$text-inverted: var(--text-inverted);
$font-family: var(--font-family);

$gutter: var(--gutter);

$listing-card-background: var(--listing-card-background);
$listing-card-background-visited: var(--listing-card-background-visited);
$listing-card-radius: var(--listing-card-radius);
$listing-card-infotag-bg: var(--listing-card-infotag-bg);
$listing-card-status-bg: var(--listing-card-status-bg);
$listing-card-price-bg: var(--listing-card-price-bg);
$listing-card-icon-color: var(--listing-card-icon-color);
$logo-red: var(--logo-red);
$logo-yellow: var(--logo-yellow);
$logo-orange: var(--logo-orange);
