@use "../abstracts" as *;

/* =================
   LISTING CARD BASE
   ================= */

.listing-card {
  display: flex;
  background-color: $listing-card-background;
  color: $text-primary;
  border-radius: $listing-card-radius;
  height: fit-content;
}

.listing-card--full {
  flex-direction: column;
}

.listing-card--map {
  flex-direction: row;
}

.listing-card--minimal {
  flex-direction: column;
}

/* ======================
   LISTING CARD THUMBNAIL
   ====================== */

.listing-card__thumbnail {
  height: 168px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: $listing-card-radius;
  border-top-right-radius: $listing-card-radius;
}

.listing-card__thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.6rem;
  z-index: 10;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing-card--flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listing-card__status {
  background-color: $button-primary-default;
  width: fit-content;
  height: fit-content;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
}

.listing-card__price {
  align-self: flex-end;
  background-color: $listing-card-price-bg;
  color: $text-inverted;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.1rem 0.5rem;
}

/* =========================
   LISTING CARD ACTION ITEMS
   ========================= */

.listing-card__action-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.action-item__bg {
  fill: #fff;
  fill-opacity: 0.8;
  box-shadow: -3px 3px 32px -10px rgba(0, 0, 0, 0.25);
}

.action-item__share-icon {
  fill: $listing-card-icon-color;
}

.action-item__heart-icon {
  fill: none;
  stroke: $listing-card-icon-color;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

/* =====================
   LISTING CARD LOCATION
   ===================== */

.listing-card__location {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.listing-card__location-icon {
  fill: $text-primary;
}

/* ==================
   LISTING CARD INFO
   ================== */

.listing-card__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.6rem;
}

.listing-card__h3 {
  align-self: flex-start;
}

.listing-card__info-tag-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
  column-gap: 0.5rem;
}

.listing-card__info-tag {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
  background-color: $listing-card-infotag-bg;
  color: $text-inverted;
  border-radius: 10px;
  padding: 0 0.5rem;
}

.bed-icon {
  fill: $background-primary;
}
.shower-icon {
  fill: $background-primary;
}

.cls-1,
.cls-3 {
  fill: #fff;
}
.cls-1 {
  fill-opacity: 0.5;
}
.cls-2 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

/* ===============
   LAND AREA ICON
   =============== */

.land-area-1,
.land-area-3,
.land-area-4,
.land-area-5 {
  fill: none;
  stroke: $text-inverted;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.land-area-1 {
  stroke-width: 2px;
}
.land-area-2 {
  fill: $text-inverted;
}
.land-area-3,
.land-area-4,
.land-area-5 {
  stroke-width: 1.5px;
}
.land-area-4 {
  stroke-dasharray: 3.11 3.11;
}
.land-area-5 {
  stroke-dasharray: 3.12 3.12;
}
