@use "../abstracts" as *;

/* =================
   LISTING CARD BASE
   ================= */

.listing-card {
  display: flex;
  background-color: $listing-card-background;
  color: $text-primary;
  border-radius: $listing-card-radius;
  height: 100%;
}

.listing-card--full {
  flex-direction: column;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &:hover::after {
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    background-color: #000;
    opacity: .2;
    z-index: 10;
    border-radius: $listing-card-radius;
  }

  &:active {
    transform: scale(.99);
  }

  &.visited {
    background-color: $listing-card-background-visited;
    color: #ccc;
  }
}

.listing-card--map {
  flex-direction: row;
}

.listing-card--minimal {
  flex-direction: column;
}

/* ======================
   LISTING CARD THUMBNAIL
   ====================== */

.listing-card__thumbnail {
  height: 168px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: $listing-card-radius;
  border-top-right-radius: $listing-card-radius;
}

.listing-card__thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.6rem;
  z-index: 10;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing-card--flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listing-card__status {
  background-color: $button-primary-default;
  width: fit-content;
  height: fit-content;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
}

.listing-card__price {
  align-self: flex-end;
  background-color: $background-secondary;
  color: $text-primary;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.1rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  span {
    font-size: .9rem;
  }
}

.listing-card__pricev2 {
  align-self: flex-start;
}

/* =========================
   LISTING CARD ACTION ITEMS
   ========================= */

.listing-card__action-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.action-item__bg {
  fill: #fff;
  fill-opacity: 0.8;
  box-shadow: -3px 3px 32px -10px rgba(0, 0, 0, 0.25);
}

.action-item__share-icon {
  fill: $listing-card-icon-color;
}

.action-item__heart-icon {
  fill: none;
  stroke: $listing-card-icon-color;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

/* =====================
   LISTING CARD LOCATION
   ===================== */

.listing-card__location {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.listing-card__location-icon {
  fill: $text-primary;
}

/* ==================
   LISTING CARD INFO
   ================== */

.listing-card__info-wrapper {
  display: grid;
  padding: 0.8rem;
  grid-auto-flow: row;
  flex-grow: 1;
  row-gap: 1rem;
}

.listing-card__h3 {
  align-self: flex-start;
  font-weight: 400;
  font-size: 1rem;
}

.listing-card__info-tag-wrapper {
  display: flex;
  flex-direction: row;
  align-self: end;
  justify-content: space-evenly;
  overflow: hidden;
  column-gap: 0.5rem;
}

.listing-card__info-tag {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
  color:  $logo-yellow;
  padding: 0 0.5rem;
}

.listing-card__info-tag + * {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.listing-card__divider {
  border-top: 1px solid $text-primary;
  border-radius: 3px;
  width: 100%;
}

.bed-icon {
  fill: currentColor;
}
.shower-icon {
  fill: currentColor;
}

.cls-1,
.cls-3 {
  fill: currentColor;
}
.cls-1 {
  fill-opacity: 0.5;
}
.cls-2 {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

/* ===============
   LAND AREA ICON
   =============== */

.land-area-1,
.land-area-3,
.land-area-4,
.land-area-5 {
  fill: none;
  stroke:  currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.land-area-1 {
  stroke-width: 2px;
}
.land-area-2 {
//   fill: $text-inverted;
  fill:  currentColor;
}
.land-area-3,
.land-area-4,
.land-area-5 {
  stroke-width: 1.5px;
}
.land-area-4 {
  stroke-dasharray: 3.11 3.11;
}
.land-area-5 {
  stroke-dasharray: 3.12 3.12;
}

.square-icon {
    fill: currentColor;
}

/* ===============
   LISTING-CARD V2
   =============== */

.listing-cardv2 {
  display: grid;
  grid-template-columns: 150px 1fr;
  background-color: $listing-card-background;
  border-radius: $listing-card-radius;
  overflow: hidden;
//   max-width: 350px;
}

.listing-card__thumbnailv2 {
  height: 150px;
  // width: 200px;
  overflow: hidden;
  position: relative;
}

.listing-card__info-displayv2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.75rem;

  h1 {
    font-size: 1rem;
    font-weight: 400;
    max-width: 225px;
    text-align: left;
  }
}

.listing-card__pricev2 {
  position: absolute;
  margin: 0.5rem;
  background-color: $background-secondary;
  color: $text-primary;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.1rem 0.5rem;
  white-space: nowrap;
}
