@use "../abstracts" as *;

.map-view__cluster-marker {
    color: $text-primary;
    background-color: $background-secondary;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map__location-icon--selected {
    transform: scale(1.25);
    --location-icon-color: #D10005;
}

.map__location-icon {
    fill: var(--location-icon-color, #141517);
}

/* ================
   EMBLA
   ================ */

.embla {
    overflow: hidden;
    position: absolute;
    bottom: $gutter;
    z-index: 50;
    left: 0;
    right: 0;
}

.embla__container {
    display: flex;
    margin-left: .25rem;
    gap: 1rem;
}

.embla__slide {
    flex: 0 0 320px;
}
