@use "../abstracts" as *;

.admin__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gutter;
}

.admin-layout__left-nav {
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
}

.admin-layout__top-nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
}

.admin-layout__main {
    position: relative;
    width: calc(100vw - 300px);
    left: 300px;
    right: 0px;
    top: 60px;
}


.mantine-AppShell-main {
    position: absolute;
    width: calc(100vw - 300px);
    min-height: 100%;
    left: 300px;
    right: 0;
    top: 60px;
}

/* ===============
   ADMIN LISTINGS
   =============== */

.admin-listings__add-listing {
    background-color: #1971c2;
    width: 6rem;
    height: 6rem;
    border-radius: .5rem;
    place-self: center;
    cursor: pointer;

    p {
        font-size: 4rem;
    }
}
