@use "../abstracts" as *;

.detail-page__main-content {
    margin: .5rem $gutter;
    text-align: left;
    color: #C1C2C5;
}

.detail-page__title {
    font-size: 1.25rem;
    font-weight: 600;
}

.detail-page__accordion-label {
    font-size: 2rem;
}

.detail-page__cta {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3.5rem;
    background-color: $background-secondary;
    line-height: 3rem;
    box-shadow: 0 -2px 5px 1px rgba($color: #000, $alpha: .2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.detail-page__map-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gutter;
    margin: $gutter auto;
    background-color: $background-secondary;
    width: fit-content;
    padding: .5rem $gutter;
    border-radius: $button-radius;

    a {
        text-decoration: none;
        color: $text-primary;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.detail-page__price-wrapper {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    width: min(420px, 100%);

    p {
        background-color: $listing-card-infotag-bg;
        color: $text-inverted;
        border-radius: 1rem;
        padding: 0 0.5rem;
    }
}
