@use "../abstracts" as *;

.listing-page__layout {
    margin: $gutter;
}

@media screen and (min-width: 695px){
    .listing-page__layout {
        display: grid;
        gap: $gutter;
        grid-template-columns: min(420px, 50%) auto;
    }
}

.listings__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-content: start;
    gap: 1rem;
    // margin: 1rem;
}
