@use "../abstracts" as *;

@media screen and (min-width: 695px){
    .listing-page__layout {
        display: grid;
        grid-template-columns: min(420px, 50%) auto;

        &.show-filter {
            display: block;
        }
    }
}

.listings__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    align-content: start;
    gap: 1rem;
    margin: 1rem;
    margin-top: calc(60px + 1rem);
}

@media screen and (max-width: 694px) {
   .listings__container {
    margin-left: 6px;
    margin-right: 6px;
   }
}

.listings-page__link {
    text-decoration: none;
    font-size: 1rem;
    color: $text-primary;
    border: 2px solid $text-primary;
    padding: .125rem .5rem;
    border-radius: .25rem;
      text-transform: uppercase;

    &:hover {
      background-color: $background-secondary;
      border-color: $background-secondary;
      color: $text-primary;
    }

    &:active {
      background-color: lighten($color: #141517, $amount: 10);
      border-color: lighten($color: #141517, $amount: 10);
    }
  }
